@model IPagedList<RestaurantListViewModel>

<div id="restaurantList">
    <div class="pagedList" data-otf-target="#restaurantList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithItemCountText)
    </div>
    @foreach (var restaurant in Model)
    {
        <div>
            <h4>@restaurant.Name</h4>
            <div>@restaurant.City, @restaurant.Country</div>
            <hr />
        </div>
    }
</div>
